/* Reset margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* General style */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: #f1f1f1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* Header */
header {
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
    background-color: #222;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.titleGradient {
    font-size: 2em;
    font-weight: bold;
    background-image: linear-gradient(to right, #cbe313, #23de6e);
    background-clip: text;
    color: transparent;
}

/* Main Container */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

/* Game Container */
.game-container {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.player-container {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.playerInfo {
    position: relative;
    color: #222;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
}

.playerInfo div {
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.playerPic {
    position: absolute;
    top: -30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid #23de6e;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #222;
    overflow: hidden;
    z-index: 1;
}

#playerPicP2 {
    transform: scaleX(-1);
}

.twist-container {
    width: 90%;
    height: 20%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px 15px;
    background-color: #222;
}

.twist {
    width: 40px !important;
    height: 40px !important;
    background-color: #23de6e;
    border-radius: 50%;
}

.enTwist i {
    font-size: 3em;
    color: #fff;
    transition: transform 0.3s ease;
}

.enTwist i:hover {
    transform: scale(119%);
    cursor: pointer;
}

/* Sectors */
.svg-container {
    background-color: #222;
    border-radius: 50%;
    position: relative;
    width: 100%;
    height: 100%;
}

.svg-container svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.sector {
    pointer-events: auto;
}

.sector:hover {
    opacity: 0.7;
    cursor: pointer;
}